.navbar a {
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: blueviolet;
}
.Stephen{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}