*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  background-color: #0b406e;
  color: white;
}

.wrapper {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-areas: 'header header'
    'navbar profile';
  gap: 15px;
}

.wrapper>div {
  background-color: rgb(83, 83, 164);
  border-radius: 10px;
}

.navbar {
  grid-area: navbar;
  text-align: center;
  padding: 5px;
}

.profile {
  grid-area: profile;
}

.header {
  grid-area: header;
}
